networks:
  db_network:
    name: db_network

services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: vcs_db_continer
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./vcm_data:/var/lib/postgresql/data
    networks:
      - db_network
